.container__Movie {
  display: flex;
  justify-content: space-around;
}

.container__detail {
  display: flex;
  background-color: #fff;
  padding: 20px;
  width: 50%;
  gap: 8%;
  padding-left: 5%;
  position: relative;
}
.container__detail figure img {
  width: 154px;
  height: 220px;
}
.container__detail .description {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container__detail .description h2 {
  font-family: Inter;
  font-size: 2.5rem;
  line-height: 28px;
  color: #303236;
}
.container__detail .description span {
  font-size: 2.5rem;
  font-family: Inter;
  line-height: 28px;
  color: #303236;
}
.container__detail .description div {
  display: flex;
  width: 100%;
  gap: 5%;
}
.container__detail .description div .b1 {
  width: 36px;
  height: auto;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: 26px;
  line-height: 40px;
  color: white; /* white */
  background: #47494f;
  opacity: 1;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.container__detail .description div .b2 {
  height: auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto; /* Body */
  font-size: 16px;
  line-height: 26px;
  color: white; /* white */
  background: #171a1f; /* neutral-900 */
  opacity: 1;
  border: none;
  border-radius: 6px; /* border-m */
  cursor: pointer;
}
.container__detail .description div .b3 {
  height: auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto; /* Body */
  font-size: 16px;
  line-height: 26px;
  color: white; /* white */
  background: #000667;
  opacity: 1;
  border: none;
  border-radius: 6px; /* border-m */
  cursor: pointer;
}

.trailer {
  position: absolute;
  left: 0;
  top: 300px;
  display: flex;
  flex-direction: column;
  padding-left: 9%;
  font-family: Inter;
  line-height: 26px;
  color: #171a1f;
}
.trailer h2 {
  padding-top: 5%;
}
.trailer figure {
  width: 100%;
  height: auto;
  padding-top: 5%;
}
.trailer figure img {
  width: 100%;
  height: auto;
}
.trailer p {
  font-family: Inter;
  font-size: 18px;
  line-height: 28px;
  color: #323743;
  padding: 5% 0 5% 0;
  width: 654px;
}

.container__showTime {
  padding-left: 5%;
  padding: 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
  height: 315px;
  justify-content: space-between;
}
.container__showTime h2 {
  font-size: 2.5rem;
}
.container__showTime .span1 {
  font-size: 2rem;
}
.container__showTime .span2 {
  font-family: Inter;
  font-size: 2rem;
  line-height: 28px;
  color: #171a1f;
  font-weight: bolder;
}
.container__showTime div {
  display: flex;
  gap: 5%;
}
.container__showTime div button {
  height: 36px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto; /* Body */
  font-size: 18px;
  line-height: 28px;
  color: #171a1f; /* neutral-900 */
  background: white; /* white */
  opacity: 1;
  border-radius: 4px; /* border-s */
  border-width: 1px;
  border-color: #171a1f; /* neutral-900 */
  border-style: solid;
}
.container__showTime button {
  height: 55px;
  background-color: #c2c3d0;
  border-radius: 28px;
  font-family: Inter;
  font-size: 2rem;
  line-height: 26px;
  color: white;
  border: none;
  cursor: pointer;
}/*# sourceMappingURL=movie.css.map */