.nameCinemas {
  color: #a9adb6;
  font-size: 14px;
  font-weight: 500;
  padding: 2px;
  display: flex;
}

.cinemas {
  height: 35px;
  border: 1px solid #587ff1;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  color: #333;
  background-color: #000000;
  color: #fff;
}

/* Estilos para las opciones */
.cinemas option {
  background-color: #000000;
  color: #fff;
  border: 1px solid #587ff1;
}

.cinemas option:checked {
  background-color: #007bff;
  color: #fff;
}

@media (max-width:408px){
  .nameCinemas{
    position: absolute;
    
    top: 69px;
    left:130px;
  }
  .cinemas{
    position: absolute;
    width: 150px;
    top: 95px;
    left:130px;
  }
}
