.finalResumen {
  &__text {
    display: flex;
    align-items: center;
    margin-left: 70px;
    padding-left: 34px;
    gap: 10px;
    width: 1180px;
    height: 111px;
    background: #fbfaf4ff; 
    border-radius: 6px; 
    border-width: 1px;
    border-color: #3b3416ff; 
    border-style: solid;
    & p {
      font-size: large;
      font-weight: bolder;
    }
  }
  &__infoBuy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 99px 10px 75px;
    & span{
        height: 36px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Roboto;
  font-size: 14px; 
  line-height: 22px; 
  color: #19508AFF; 
  background: #F2F7FDFF;
  opacity: 1; 
  border: none; 
  border-radius: 6px;
    }
  }
  &__target {
    display: flex;
    padding-left: 80px;
    gap: 100px;
    margin-bottom: 80px;
  }
  &__items {
    display: flex;
    flex-direction: column;
    & label {
      font-family: Roboto; 
      font-size: 16px;
      line-height: 26px;
      color: #6f7787ff;
    }
    & span {
      font-family: Roboto; 
      font-size: 16px;
      line-height: 26px;
      color: #171a1fff; 
    }
  }
}
.boxFinal{
   padding-left: 35%;
   padding-bottom: 50px;
}
@media (max-width: 408px){
  .finalResumen {
    &__text {
      margin-left: 5px;
      width: 380px;
      height: 70px;
      & p {
        font-size: large;
        font-weight: bolder;
      }
    }
    &__infoBuy {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 4px 7px 10px 7px;
    }
    &__target {
      padding-left: 15px;
      gap: 24px;
      margin-bottom: 10px;
      
    }
    &__items {
      display: flex;
      flex-direction: column;
      
      & label { 
        font-size: 14px;
      }
      & span {
        font-size: 14px;
      }
    }
  }
  .finalPur{
    margin-left: 15%;
    width: 250px;
    height: 60px ;
    background-color: #19508AFF;
  }
  .boxFinal{
    padding-left: 2px;
    padding-bottom: 50px;
 }
}