.container__primary {
  width: 100%;
}

.firstConainer {
  position: relative;
  width: 100%;
  display: flex;
  //padding: 20px;
  background-color: #000000;
  justify-content: flex-end;
  padding-top: 30px;

  &__imgMovie {
    position: absolute;
    bottom: -30px;
    left: 30px;
    width: 30%;
    height: auto;

    img {
      padding: 50px 20px 0 0;
      width: 100%;
      height: auto;
    }
  }
  &__imgMovie2 {
    width: 69%;
    height: 550px;
    padding: 20px 40px 0 40px;
  }
}

// .container__media img {
//   width: 394px;
//   height: 590px;
// }
// .trailerE img {
//   width: 912px;
//   height: 596px;
// }

.editMain {
  display: flex;
  padding: 70px 20px 40px 20px;
  //margin-top: 50px;
  justify-content: space-between;
  position: relative;
}
.descriptionE {
  //padding-left: 4%;
  width: 35%;
  font-size: large;
  padding: 20px;
  text-align: start;
  font-size: 14px;
  line-height: 22px;
  color: #9095a1ff;
  display: flex;
  flex-direction: column;
  h4 {
    padding-top: 20px;
    font-family: Roboto; /* Body */
    font-size: 14px;
    line-height: 22px;
    color: #404e70ff;
    font-weight: 100;
  }
}

.container__izquierda {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  .form-addC{
    padding: 10px;
    background-color: #ffffffff;
    border: 1px solid black;
    position: absolute;
    top: 250px;
    left: 60%;
    z-index: 2;
    width: 300px;
    height: 280px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: none;
    h3{
      margin-left: 28px;
      padding-bottom: 6px;
    }
    label{
      font-size: large;
      font-weight: bolder;
    }
    button{
      margin-top: 35px;
      width: 159px; 
      height: 44px; 
      padding: 0 16px; 
      display: flex;
      margin-left: 32px; 
      align-items: center; 
      justify-content: center; 
      font-family: Roboto;
      font-size: 16px; 
      line-height: 26px; 
      color: #FFFFFFFF; 
      background: #19508AFF; 
      opacity: 1; 
      border: none; 
      border-radius: 6px; 
      box-shadow: 0px 8px 17px #19508a, 0px 0px 2px #19508a; 
    }
    button:hover{
      background-color: #326098ff;
      color: aliceblue;
    }
  }
  
}
.form-addC.viewF{
  display: block;
}
.dateE {
  display: flex;
  flex-direction: column;
  align-items: center;
  //padding-top: 25px;
  padding-bottom: 20px;
  & h2 {
    font-family: Roboto; /* Body */
    font-size: 16px;
    line-height: 26px;
    color: #326098ff;
    padding-right: 250px;
  }
}

.calender {
  display: flex;
  align-items: center;
  padding-left: 7px;
  width: 59px;
  height: 59px;
  background: #1c508d7a;
  border-radius: 4px;
}
.fechasE {
  display: flex;
  gap: 15px;
}
.containerHours {
  display: flex;
  gap: 8px;
}
.hoursE {
  display: flex;
  padding-left: 15px;
  width: 150px;
  height: 50px;
  gap: 35px;
  background: #ffffffff;
  border-radius: 20px;
  border-width: 1px;
  border-color: #4c69a1ff;
  border-style: solid;
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
  & figure {
    display: flex;
    align-items: center;
  }
  &__cancel {
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  &__edit {
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  .showE {
    display: block;
    align-items: center;
    height: auto;
  }

  &__contienerE {
    display: flex;
  }
}
.showDate button {
  width: 59px;
  height: 59px;
  background: #1c508d7a;
  border-radius: 4px;
}
.funtionE {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: #ffffffff;
  border-radius: 6px; /* border-m */
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
  padding: 3px;

  & h2 {
    font-size: large;
    padding: 15px 0 15px 25px;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  &__newTeatro {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 157px;
    height: 44px;
    background: #ffffffff;
    border-radius: 22px;
    border-width: 1px;
    border-color: #4c69a1ff;
    border-style: solid;
    box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
  }
  &__newTeatro p {
    cursor: pointer;
    font-family: Roboto; 
    font-size: 12px;
    line-height: 20px;
    color: #4c69a1ff;
    padding-left: 35px;
    padding-top: 10px;
  }
  &__newTeatro img {
    cursor: pointer;
    width: 20px;
    height: 20px;
    fill: #4c69a1ff;
  }
}
.teatrosE {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  width: 100%;
  height: 59px;
  background: #f6f6f6ff;
  border-radius: 6px; /* border-m */
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;

  & p {
    font-size: large;
  }
  & img {
    cursor: pointer;
  }
}
.edit-salas {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 15px;
  display: none;
}
.newSala {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding-top: 5px;
}

.open {
  display: block;
}
.edit-salas input {
  padding-top: 15px;
  width: 80px;
  height: 40px;
  border: none;
}

@media(max-width: 408px){
  .firstConainer {  
    flex-direction: row-reverse;
    &__imgMovie {
      position: absolute;
      z-index: 2;
      top: -160px;
      left: 50px;
      width: 50%;
      height: 15px;
  
      img {
        padding: 50px 20px 0 0;
        width: 320px;
        height: 300px;
        object-fit: cover;
      }
    }
    &__imgMovie2 {
      margin-top: 90px;
      width: 100%;
      height: 550px;

    }
    iframe{
      width: 400px;
     
    }
    }
    .editMain {
      display: flex;
      flex-direction: column;
    }
    .descriptionE {
    
      p{
        width: 300px;
        font-size: 19px;
      }
      h4 {
        padding-top: 20px;
        font-family: Roboto; /* Body */
        font-size: 18px;
        line-height: 22px;
        color: #404e70ff;
        font-weight: 100;
      }
    }
    .container__izquierda {
      width: 105%;
      display: flex;
      flex-direction: column;
      padding: 20px;
      .form-addC{
        top: 1030px;
        left: 14%;
      }
    }
    .form-addC.viewF{
      display: block;
    }
    
}
