@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&family=Roboto&display=swap");
.title__cards {
  padding-top: 40px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  padding-left: 4%;
}
.cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
