.navbar{
   
    align-items: center;
    justify-content: space-around;    
}
.logo{
    padding-top: 30px;
    padding-bottom: 30px;
}

.person{
    display: flex;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 40px;
}
.buttons{
    padding-top: 30px;
    padding-bottom: 30px;
}