.navbar {
  background-color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.logo{
    display: flex;
    gap: 5px;
    align-items: center;
    padding-top: 49px;
    
    &__figure{
        margin: 0px;
    }
    & h2{
        width: 120px;
        height: auto;
        font-family: Inter; 
        font-size: 14px; 
        line-height: 22px; 
        color: #BDC1CAFF;
    }
}
.diary{
    display: flex;
    text-align: center;
    gap: 20px;
    &__containers{
        padding-top: 0px;
    }
    & p{
        color: #BDC1CAFF;
        margin: 0px;
        display: flex;
        text-align: left;
        font-size: 15px;
    }
   
    
    
    &__options{
        display: flex;
        align-items: center;       
        width: 200px; 
        height: 30px; 
        margin: 0px;
        padding-right: 5px;
        padding-left: 5px;
        border: 1px solid #BDC1CAFF;
        justify-content: space-between;
        border-radius: 6px; 
    }
    &__options img{
        cursor: pointer;
    }

  &__figure {
    margin: 0px;
  }
  & h2 {
    width: 120px;
    height: auto;
    font-family: Inter;
    font-size: 14px;
    line-height: 22px;
    color: #bdc1caff;
  }
}
.api__local {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: baseline;
}

.diary {
  display: flex;
  gap: 20px;
  &__containers {
    padding-top: 23px;
  }
  & p {
    color: #bdc1caff;
    margin: 0px;
    display: flex;
    text-align: left;
    font-size: 15px;
  }

  &__options {
    display: flex;
    align-items: center;
    width: 200px;
    height: 30px;
    margin: 0px;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid #bdc1caff;
    justify-content: space-between;
    border-radius: 6px;
  }
  &__options img {
    cursor: pointer;
  }
}
.person {
  display: flex;
  margin: 0px;
  margin-top: 30px;
}
.burguer img {
  margin-top: 35px;
  width: 30px;
  height: 30px;
  background-color: rgb(254, 254, 253);
  display: none;
}
.person img {
  display: flex;
  background-color: #1c508dff;
  cursor: pointer;
  border-radius: 18px;
  padding: 4px;
  height: 36px;
  width: 36px;
  margin-right: 20px;
  display: flex;
  text-align: center;
}
@media (max-width:408px){
  .navbar{
    padding-bottom: 50px;
  }
  .person img{
    display: none;
  }
  .burguer img {
    display: block;
    margin-top: 14px;
    margin-left: 85px;
    cursor: pointer;
  }
}
