.selection{
    display: flex;
    justify-content: space-between;
    padding-bottom: 300px;
}
.boletos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10%;
    & h4{
        font-size: 25px;
    }
    & p{
        font-size: 15px;
    }
    
}
.bContainer{
    display: flex;
    align-items: center;
    padding-left: 150px;
    & label{
        font-size: 20px;
    }
    &__amount{
        width: 10px;
    }
}
.edadTikect{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttonsT{
    display: flex;
    height: auto;
    margin-left: 20px;
    width: 84%;
    background: #FFFFFFFF; /* white */
    border-radius: 6px; /* border-m */
    border-width: 1px; 
    border-color: #171A1FFF; /* neutral-900 */
    border-style: solid; 
    box-shadow: 0px 4px 9px #171a1f, 0px 0px 2px #171a1f;
    padding: 5px;
    &__plus{
        width: 48px; 
        height: 48px;
        cursor: pointer; 
        padding: 0 10px; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        color: #565D6DFF
    }
    &__plus:hover{
        color: #FFFFFFFF; /* white */
        background: #000667FF;  
    }
    &__minus{
        width: 48px; 
        height: 48px;
        cursor: pointer;  
        padding: 0 10px; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        color: #565D6DFF
    }
    &__minus:hover{
        
        color: #565D6DFF; /* neutral-600 */
        background: #DEE1E6FF; /* neutral-300 */
    }
}

.resumen{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%; 
    padding: 20px;
    margin-right: 20px;
    background: #F4F4F4FF; 
    border-radius: 6px; /* border-m */
    box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
    & h2{
        font-size: large;
    }
    & p{
        flex-wrap: wrap;
        font-size: large;
    }
    &__datos{
        display: flex;
        gap: 15px;
    }
    &__img img{
        width: 92px; 
        height: 129px; 
        border-radius: 6px;
    }
    &__titles{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__titles p{
        font-size: large;
        font-weight:bolder;
    }
    &__value{
        display: flex;
        justify-content: space-between;
        padding-right: 40px;
    }
    &__value p{
        font-size: large;
        font-weight:bolder;
    }
    &__button:disabled{
        width: 465px; 
        height: 55px; 
        cursor: pointer;
        background: #C2C3D0FF; 
        border-radius: 28px; 
        box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f; 
    }
    &__button:enabled{
        width: 465px; 
        height: 55px; 
        cursor: pointer;
        background: rgb(61, 74, 252);
        color: #fff; 
        border-radius: 28px; 
        box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f; 
    }

}