.calendar-container {
  position: relative;
  display: flex;
  flex-direction: column;
  h1 {
    color: #a9adb6;
    font-size: 14px;
    font-weight: 500;
    padding: 2px;
    display: flex;
  }
}

.custom-datepicker .react-datepicker {
  font-family: Arial, sans-serif;
}

.react-datepicker-ignore-onclickoutside {
  background-color: #000000;
  border-color: #565d6dff;
  border-radius: 8px;
  color: #fff;
}

.react-datepicker__input-container {
  align-items: center;
  height: 20px;
}
.react-datepicker__input-container input {
  background-color: #000000;
  height: 35px;
  width: 150px;
  border: 1px solid #587ff1;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  color: #fff;
}

.custom-datepicker .react-datepicker__day {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
}

.react-datepicker__day-name {
  width: 30px;
  font-size: 13px;
}

.react-datepicker__current-month {
  font-size: 13px;
}
@media (max-width:408px){
  .calendar-container{
    position: absolute;
    top: 150px;
    left: 130px;
  }
}